
@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>

<div class="padding-md">
    <div class="main-header clearfix">
        <div class="panel panel-default table-responsive">
            <div class="panel-heading">
                <span class="label label-info ">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                    @Html.ActionLink("Create New", "CreateProduct", "Admin")
                </span>
                <span class="label label-info pull-right" id="spnproductcount"></span>
            </div>
        </div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="liproduct">
                @Ajax.ActionLink("Core Items", "GetProducts", "Admin", new { CoreItemFL = 1 }, new AjaxOptions { UpdateTargetId = "dvproductcontent", OnSuccess = "OnSuccessetProducts" }, new { @id = "anchrcoreitemproducts", @onclick = "OnBeginGetProducts(this)" })
            </li>
            <li class="liproduct">
                @Ajax.ActionLink("Non Core Items", "GetProducts", "Admin", new { CoreItemFL = 2 }, new AjaxOptions { UpdateTargetId = "dvproductcontent", OnSuccess = "OnSuccessetProducts" }, new { @id = "anchrnoncoreitemproducts", @onclick = "OnBeginGetProducts(this)" })
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content in" style="padding-top: 20px">
            <div role="tabpanel" class="tab-pane active" id="dvemployercontent"></div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#anchrcoreitemproducts').trigger('click');
        });
        function OnBeginGetProducts(ele) {
            $('.liproduct').removeClass('active');
            $(ele).parent().addClass('active');
        }

        function OnSuccessetProducts(result) {
            var trproducts = $('.trproducts');
            if (trproducts != null && trproducts != undefined && trproducts.length > 0)
                $('#spnproductcount').text(trproducts.length + " Products(s)");
            else
                $('#spnproductcount').text('');
        }
    </script>
}